*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


header{
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body {
    gap: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: sans-serif;
    background-color: rgb(70, 0, 102);
    color: rgb(255, 255, 255);
}

img{
    border-radius: 25px;
}

a{
    color: rgb(255, 147, 250);
}