*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
    padding: 80px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: sans-serif;
    background-color: rgb(228, 255, 228);
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(20, 175, 0, 0.226);
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    width: 90vw;
}

header{
    margin-top: -50px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}