html {
    scroll-behavior: smooth;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
    padding: 80px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: sans-serif;
    background-color: rgb(70, 0, 102);
    color: rgb(116, 0, 116);
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(20, 175, 0, 0.226);
    background-color: rgb(250, 210, 255);
    border-radius: 50px;
    width: 90vw;
}

header{
    margin-top: -50px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    border-radius: 50px;
}

a{
    color: rgb(255, 110, 255);
}

main section{
    border: 1px solid white;
    border-radius: 25px;
    padding: 25px;
    background-color: rgb(250, 210, 255);
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    width: 90vw;
}

main{
    display: flex;
    flex-direction: center;
    align-items: center;
    flex-direction: column;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contato-section{

    border: 2px solid rgba(20, 175, 0, 0.226);
    background-color: rgb(250, 210, 255);
    border-radius: 50px;
    width: 80vw;
    padding: 30px;
}